<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>百度口袋妖怪吧寒假实机对战大赛</title>
    <script src="vue.js"></script>
    <script src="vue-resource.js"></script>
    <script src="main.js"></script>
</head>
<body>
<div id="mainTitle">
    <h1>百度口袋妖怪吧寒假实机对战大赛</h1>
</div>
<!--淘汰赛区域-->
<h2 class="subTitle">淘汰赛对阵表</h2>
<table id="knockout">
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <div class="player m1">
                            <div class="name">bbtsan</div>
                            <div class="promotion"></div>
                        </div>
                        <div class="player m2">
                            <div class="name">Golden_Halo</div>
                            <div class="promotion"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="player m3">
                            <div class="name">Azumarill</div>
                            <div class="promotion"></div>
                        </div>
                        <div class="player m4">
                            <div class="name">狼与旅途中的人</div>
                            <div class="promotion"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="player m1">
                            <div class="name">龙天王Lance</div>
                            <div class="promotion"></div>
                        </div>
                        <div class="player m2">
                            <div class="name">风晓得benny</div>
                            <div class="promotion"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="player m3">
                            <div class="name">星中的飘雪</div>
                            <div class="promotion"></div>
                        </div>
                        <div class="player m4">
                            <div class="name">摳腳大漢NO1</div>
                            <div class="promotion"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td class="knockout_promotion">
                        <div class="promotion_line"></div>
                    </td>
                </tr>
                <tr>
                    <td class="knockout_promotion">
                        <div class="promotion_line"></div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td class="to2">
                        <div class="player m1">
                            <div class="name">Golden_Halo</div>
                            <div class="promotion"></div>
                        </div>
                        <div class="player m2">
                            <div class="name">狼与旅途中的人</div>
                            <div class="promotion"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="to2">
                        <div class="player m3">
                            <div class="name">风晓得benny</div>
                            <div class="promotion"></div>
                        </div>
                        <div class="player m4">
                            <div class="name">星中的飘雪</div>
                            <div class="promotion"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <div class="vertical"></div>
        </td>
        <td>
            <div class="horizontal"></div>
        </td>
        <td class="final">
            <div class="name player">Golden_Halo</div>
            <div class="name player">风晓得benny</div>
        </td>
        <td class="to_final">
            <div class="horizontal"></div>
        </td>
        <td>
            <div class="player winner name">Golden_Halo</div>
        </td>
    </tr>
</table>

<!--瑞士轮区域-->
<div class="subTitle">
    <h2>瑞士轮对阵表</h2>
</div>
<div id="swiss_pas">
    <div>
        <button class="btn_r" v-for="r in round" v-on:click="current = r - 1">{{get_round(r)}}</button>
    </div>
    <table class="swiss_match" v-for="n in plays">
        <tr>
            <td>
                <div class="swiss_player">
                    <p class="swiss_name">{{get_name(n*2, current)}}</p>
                    <p class="marks">{{get_marks(n*2, current)}}</p>
                </div>
            </td>
            <td>
                <div class="battle_line"></div>
            </td>
            <td>VS</td>
            <td>
                <div class="battle_line"></div>
            </td>
            <td>
                <div class="swiss_player">
                    <p class="swiss_name">{{get_name(n*2+1, current)}}</p>
                    <p class="marks">{{get_marks(n*2+1, current)}}</p>
                </div>
            </td>
        </tr>
    </table>
</div>

<!--小组赛区域-->
<h2 class="subTitle">小组对阵表</h2>
<div id="locate">
    <a type="button" class="btn" v-for="number in groupNumbers" v-bind:href="generate_id(number)">{{number}} 组</a>
</div>
<div id="group-battle">
    <div class="group" v-for="number, n in groupNumbers" v-bind:id="get_group(number)">
        <h2>{{ number }}组</h2>
        <table>
            <tr>
                <td>
                    <table>
                        <tr class="match">
                            <td>
                                <div class="player m1">
                                    <div class="num">{{ players[4*n].num }}</div>
                                    <div class="name">{{ players[4*n].id }}</div>
                                    <div class="promotion"></div>
                                </div>
                                <div class="player m2">
                                    <div class="num">{{ players[4*n+1].num }}</div>
                                    <div class="name">{{ players[4*n+1].id }}</div>
                                    <div class="promotion"></div>
                                </div>
                            </td>
                        </tr>
                        <tr class="match">
                            <td>
                                <div class="player m3">
                                    <div class="num">{{ players[4*n+2].num }}</div>
                                    <div class="name">{{ players[4*n+2].id }}</div>
                                    <div class="promotion"></div>
                                </div>
                                <div class="player m4">
                                    <div class="num">{{ players[4*n+3].num }}</div>
                                    <div class="name">{{ players[4*n+3].id }}</div>
                                    <div class="promotion"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="hLine"></div>
                </td>
                <td class="turn2">
                    <div class="player">
                        <div class="num">{{ match.match1[n*2] }}</div>
                        <div class="name">{{get_id(number, 0, 0)}}</div>
                    </div>
                    <div class="player">
                        <div class="num">{{ match.match1[n*2+1] }}</div>
                        <div class="name">{{get_id(number, 1, 0)}}</div>
                    </div>
                </td>
                <td>
                    <div class="hLine2"></div>
                </td>
                <td>
                    <div class="player winner">
                        <div class="num">{{ match.match2[n]}}</div>
                        <div class="name">{{get_id(number, 0, 1)}}</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<footer></footer>
</body>
</html>
